<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            font-family:'Courier New', Courier, monospace
        }

    </style>
    <title>Sign Up</title>
</head>
<body>

    <h1 style="text-align: center;">Sign Up</h1>
    
    <form action="/user" method="POST">
        <label>Full Name : </label>
        <input type="text" required name="name"><br><br>
        <label>E-Mail : </label>
        <input type="text" required name="email"><br><br>
        <label>Password : </label>
        <input type="text" required name="password"><br><br><br>

        <button type="submit">Sign Up</button>

    </form>
    
</body>
</html>